body{
    background-image:url(/images/fondo.webp);
    background-size: cover;  
    background-repeat: no-repeat;
    
}   
.carta{
display: flex;
justify-content: space-between;

}
.background{


}
