body{
    background-image:url(/images/fondonegro.png);
    background-size: cover;  
    background-repeat: no-repeat;
    background-color: cadetblue;
    color: white;
}   
.texto P{
    color: white;
}
.texto h1{
    color: white;
}
.carta{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    padding: 10px;
}








.titulo{
    color: white;
    text-align: center;
    margin-top: 65px;

}
.letra{

color: white;
}
